body{
background-color:#bbdffb;
	font-family:Calibri;
}
h2{

text-align:center;
padding:20px;
background-color:#d7baff;
font-family:Calibri;
background-color: #90cbf9;
}
#sayt{
	color: #0747a1;
}